@use 'contattaci';
@use 'chi-siamo';
@use 'copertine';
@use 'blog';
@source '../../vendor/laravel/framework/src/Illuminate/Pagination/resources/views/*.blade.php';
@source '../../storage/framework/views/*.php';
@source '../**/*.blade.php';
@source '../**/*.js';

@theme {
    --font-sans: 'Glass Antiqua', 'Instrument Sans', ui-sans-serif, system-ui, sans-serif, 'Apple Color Emoji', 'Segoe UI Emoji',
        'Segoe UI Symbol', 'Noto Color Emoji';
}

@font-face {
    font-family: 'Newsreader';
    src: url('../fonts/Newsreader-VariableFont_opsz,wght.ttf') format('truetype');
    font-weight: 200 800;
    font-style: normal;
}

@font-face {
    font-family: 'Newsreader';
    src: url('../fonts/Newsreader-Italic-VariableFont_opsz,wght.ttf') format('truetype');
    font-weight: 200 800;
    font-style: italic;
}

@font-face {
    font-family: 'Glass Antiqua';
    src: url('../fonts/GlassAntiqua-Regular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

/* CSS Normalization */
html {
    line-height: 1.15;
    -webkit-text-size-adjust: 100%;

    body {
        margin: 0;
        background-color: #fff5ec;
        font-family: 'Newsreader', serif;
    }

    .container {
        max-width: 80rem;
        margin-left: auto;
        margin-right: auto;
    }
}

hr.style-eight {
    overflow: visible;
    padding: 0;
    border: none;
    border-top: medium double #333;
    color: #333;
    text-align: center;
    margin: 2rem 0;
}
hr.style-eight:after {
    content: "ยง";
    display: inline-block;
    position: relative;
    top: -0.6em;
    font-size: 1.5em;
    padding: 0 0.25em;
    background: #fff5ec;
}
