header {
    padding: 1.25rem;
    display: grid;
    grid-template-columns: repeat(6, 1fr);
    grid-template-rows: 1fr;
    grid-column-gap: 0;
    grid-row-gap: 0;
    text-align: center;

    a {
        text-decoration: none;
        color: black;
    }

    .header-element-1 {
        grid-area: 1 / 1 / 2 / 2;
        align-self: end;
    }
    .header-element-2 {
        grid-area: 1 / 2 / 2 / 3;
        align-self: end;
    }
    .header-logo {
        grid-area: 1 / 3 / 2 / 5;
        align-self: center;
        h1 {
            margin: 0;
            font-size: 3rem;
            font-family: "Glass Antiqua";
            color: black;
        }
    }
    .header-element-3 {
        grid-area: 1 / 5 / 2 / 6;
        align-self: end;
    }
    .header-element-4 {
        grid-area: 1 / 6 / 2 / 7;
        align-self: end;
    }
}
