footer {
    padding: 2rem 0;
    text-align: center;
    font-family: 'Glass Antiqua', sans-serif;

    .footer-content {
        p {
            margin: 0;
            color: #333;
        }
    }
}
