.jumbotron-container {
    width: 100%;
    margin: 0;
}

.jumbotron {
    height: calc(100vh - 8rem);
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #080504;
    color: #fff5ec;
    font-size: 5rem;
}
